<header class="header" data-stellar-background-ratio="0.5" id="home">
  <!-- COLOR OVER IMAGE -->
  <div class="overlay-layer">

    <!-- STICKY NAVIGATION -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <!-- LOGO ON STICKY NAV BAR -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-grid-2x2"></span>
          </button>

          <!-- LOGO -->
          <a class="navbar-brand" href="#">
            <img src='assets/images/logo-nav.png' alt="">
          </a>

        </div>

        <!-- TOP BAR -->
        <div class="navbar-collapse collapse" id="stamp-navigation">

          <!-- NAVIGATION LINK -->
          <ul class="nav navbar-nav navbar-left main-navigation small-text">
            <li>
              <a href="#section1">About</a>
            </li>
            <li>
              <a href="#section5">Automation</a>
            </li>
            <li>
              <a href="#section6">Monetize</a>
            </li>
            <li>
              <a href="#section7">Work Done</a>
            </li>
          </ul>

          <!-- LOGIN REGISTER -->
          <ul class="nav navbar-nav navbar-right login-register small-text">
            <li class="register-button js-register inpage-scroll">
              <a href="#section5" class="navbar-register-button">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /END CONTAINER -->
    </div>
    <!-- /END STICKY NAVIGATION -->
    <!-- CONTAINER -->
    <div class="container">

      <!-- ONLY LOGO ON HEADER -->
      <div class="only-logo">
        <div class="navbar">
          <div class="navbar-header">
            <img src="assets/images/logo.png" alt="" />
          </div>
        </div>
      </div>

      <!-- /END ONLY LOGO ON HEADER -->
      <div class="row">
        <div class="col-md-12">

          <!-- HEADING AND BUTTONS -->
          <div class="intro-section">
            <!-- WELCOM MESSAGE -->
            <h1 class="intro white-text"><span class="rotate">Get An Edge || Just For You || Superfast Development</span></h1>
            <h5 class="white-text">Customized Apps</h5>

            <!-- BUTTON -->
            <div class="button">
              <a href="#section1" class="btn btn-primary standard-button inpage-scroll">Get Started</a>
            </div>
            <!-- /END BUTTON -->

          </div>
          <!-- /END HEADNING AND BUTTONS -->
        </div>
      </div>
    </div>
  </div>
</header>
<section class="services grey-bg" id="section1">
  <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header">

      <div class="small-text-medium uppercase colored-text">
        ABOUT US
      </div>
      <h2 class="dark-text"><strong>Introduction</strong></h2>
      <div class="colored-line">
      </div>
      <div class="sub-heading">
        <p style="text-align: justify;">
          Prisma Technology Corporation, is a professional ICT services and solutions provider. We have years of experience in helping
          organizations to achieve their business objectives, together with extensive consulting experience. We fully understand
          the unique challenges that you face and can tailor solutions for your specific requirements.
        </p>
      </div>
    </div>

    <div class="row">

      <!-- SINGLE SERVICE -->
      <div class="col-md-6 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
        <div class="single-service border-bottom-hover" style="min-height: 340px;">
          <div class="service-icon colored-text">
            <span class="icon-basic-lightbulb"></span>
          </div>
          <h3 class="colored-text">Our Vision</h3>
          <p style="text-align: justify;">
            We strive to always be a financially strong company representing excellence, securing continuous growth for our customers,
            employees and shareholders.
          </p>
        </div>
      </div>

      <!-- SINGLE SERVICE -->
      <div class="col-md-6 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
        <div class="single-service border-bottom-hover" style="min-height: 320px;">
          <div class="service-icon colored-text">
            <span class="icon-basic-webpage-multiple"></span>
          </div>
          <h3 class="colored-text">Mission Statement</h3>
          <p style="text-align: justify;">
            We help our customers optimize their businesses through leadership and innovation delivering appropriate technological solutions
            on time and on budget, whilst recruiting and retaining the best talent.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="brief grey-bg text-left" id="section2">
  <div class="container">
    <div class="row">


      <!-- BRIEF HEADING -->
      <div class="col-md-12 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
        <div class="small-text-medium uppercase colored-text">
          ABOUT
        </div>
        <h2 class="text-left dark-text">Our <strong>Core Values</strong></h2>
        <div class="colored-line-left">
        </div>
        <p class="text-left">
          Our core values are driven by the underpinning responsibility to our:
        </p>

        <!-- FEATUR ACCORDION WITH ICON -->
        <div class="panel-group" id="accordion">

          <!-- SINGLE ACORDIION -->
          <div class="panel panel-default">

            <!-- ACORDIION HEADING / TITLE -->
            <div class="panel-heading" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <span class="icon-container color-bg"><span class="icon-basic-heart white-text"></span></span><span class="title-text">Customers</span>
                </a>
              </h4>
            </div>

            <!-- ACORDIION DESCRIPTION / TEXT -->
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                We develop partnerships with our customers. We provide them with innovative leadership in solutions and services aimed at
                making them successful, on the basis of competitive price, quality and reliability.
              </div>
            </div>
          </div>

          <!-- SINGLE ACORDIION -->
          <div class="panel panel-default">

            <!-- ACORDIION HEADING / TITLE -->
            <div class="panel-heading" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="icon-container color-bg"><span class="icon-star-alt white-text"></span></span><span class="title-text">Employees</span>
                </a>
              </h4>
            </div>

            <!-- ACORDIION DESCRIPTION / TEXT -->
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                We regard our employees as our most valuable asset. We treat them with respect; encourage self-expression, personal freedom
                and growth. Excellence in performance is sought and rewarded.
              </div>
            </div>
          </div>

          <!-- SINGLE ACORDIION -->
          <div class="panel panel-default">

            <!-- ACORDIION HEADING / TITLE -->
            <div class="panel-heading" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="icon-container color-bg"><span class="icon-easel white-text"></span></span><span class="title-text">Shareholders</span>
                </a>
              </h4>
            </div>

            <!-- ACORDIION DESCRIPTION / TEXT -->
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                We consider ourselves successful only when we present financial results that deliver a return that is superior to our leading
                competitors.
              </div>
            </div>
          </div>
          <!-- SINGLE ACORDIION -->
          <div class="panel panel-default">

            <!-- ACORDIION HEADING / TITLE -->
            <div class="panel-heading" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">Society</span>
                </a>
              </h4>
            </div>

            <!-- ACORDIION DESCRIPTION / TEXT -->
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                We recognize that we are citizens within a society. We strive to be sensitive to social concerns, the community, the environment,
                and the various economic systems in which we conduct our business. We aim to be a positive contributor to Malaysia
                and the world as a whole.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="stats" id="section3" data-stellar-background-ratio="0.5">
  <div class="overlay-layer-2">
    <div class="container">
      <div class="row no-gutters">

        <!-- SINGLE COLUMN WITH ICON -->
        <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
          <div class="icon-container">
            <span class="colored-text icon-basic-server2"></span>
          </div>
          <h4 class="white-text"><span class="icon-arrows-circle-check"></span></h4>
          <p class="uppercase transparent-text small-text">
            Database Driven Apps
          </p>
        </div>

        <!-- SINGLE COLUMN WITH ICON -->
        <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10"
        data-wow-duration="1.75s">
        <div class="icon-container">
          <span class="colored-text icon-basic-world"></span>
        </div>
        <h4 class="white-text"><span class="icon-arrows-circle-check"></span></h4>
        <p class="uppercase transparent-text small-text">
          Cloud Based Apps
        </p>
      </div>

      <!-- SINGLE COLUMN WITH ICON -->
      <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
        <div class="icon-container">
          <span class="colored-text icon-basic-tablet"></span>
        </div>
        <h4 class="white-text"><span class="icon-arrows-circle-check"></span></h4>
        <p class="uppercase transparent-text small-text">
          Smart Phone Apps
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="unique-features white-bg" id="section5">
  <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header">
      <div class="small-text-medium uppercase colored-text">
        WHAT WE DO
      </div>
      <h2 class="dark-text"><strong>Automate</strong> Your Business</h2>
      <div class="colored-line">
      </div>
      <div class="sub-heading">
        <p style="text-align: justify;">Want an automation formula that will make your business more efficient today and more scalable for tomorrow? Start with
          technology capable of making complex or repetitive processes run themselves. Then add in centralized user management
          and security to control automation efforts. Put together, you have a customized solution uniquely designed to up-level
          your operation and start competing worldwide via technology that grows with you.</p>
        </div>
      </div>

      <!-- FIRST ROW OF FEATURES -->
      <div class="row">
        <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-basic-accelerator colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Get more done in less time</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Reduce time spent and take repetitive, time-consuming work off their plates.
              </p>
            </div>
          </div>

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-basic-gear colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Automate with ease</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                A customized software should fit your work flow flawlessly, so employees do not need to relearn how to do their job.
              </p>
            </div>
          </div>

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-icon-mobile colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Responsive Design</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Mobiles and tablet ready software that enables productivity from anywhere.
              </p>
            </div>
          </div>

        </div>

        <!-- IPAD IMAGE -->
        <div class="col-md-4">
          <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20" style="visibility: hidden; animation-duration: 1.75s; animation-name: none;">
            <img src="assets/images/ipad-air.png" alt="">
          </div>
        </div>
        <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-ecommerce-graph-increase colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Focus on value-added work</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                We take care of the repetitive tasks, so you can focus on your business.
              </p>
            </div>
          </div>

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-cloud-alt colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Cloud Platform</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Access your software, office from anywhere.
              </p>
            </div>
          </div>

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-basic-bolt colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">24/7 Automation</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Do business anytime, from anywhere.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="unique-features grey-bg" id="section6">
    <div class="container">

      <!-- SECTION HEADER -->
      <div class="section-header">
        <div class="small-text-medium uppercase colored-text">
          WHAT WE DO
        </div>
        <h2 class="dark-text"><strong>Monetize</strong> Your Online Presence</h2>
        <div class="colored-line">
        </div>
        <div class="sub-heading">
          Your online presence should make $ for you!
        </div>
      </div>

      <!-- FIRST ROW OF FEATURES -->
      <div class="row">
        <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-ecommerce-cart-check colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Start Selling Online</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Increase conversion rates by driving online visitors to place an order or make a reservation or appointment. Offer shipping
                for your products to increase your business reach.
              </p>
            </div>
          </div>

        </div>

        <!-- IPAD IMAGE -->
        <div class="col-md-4">
          <!-- SINGLE FEATURE -->
          <div class="feature wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20" style="visibility: hidden; animation-duration: 1.75s; animation-name: none;">
            <div class="icon-container">
              <span class="icon-ecommerce-creditcard colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Collect Payment</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Start collecting payment immediately. Start accepting credit cards, and other forms of e-payment. Enable auto-billing and
                start getting paid from people that you may never meet but need your products or services.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

          <!-- SINGLE FEATURE -->
          <div class="feature">
            <div class="icon-container">
              <span class="icon-basic-headset colored-text"></span>
            </div>
            <div class="description text-left">
              <h4 class="dark-text">Interact With Your Customers</h4>
              <div class="grey-line-short pull-left">
              </div>
              <p class="text-left">
                Let your customers login to their account, enhancing your customer relations. Start a customer loyalty program... if you
                can imagine it, we can make it happen!
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
  <section class="features" id="section7" data-stellar-background-ratio="0.5">
    <div class="overlay-layer-2">
      <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
          <div class="small-text-medium uppercase colored-text">
            JOBS DONE
          </div>
          <h2 class="white-text"><span class="strong white-text">List of </span>Jobs We Have Successfully Undertaken</h2>
          <div class="colored-line">
          </div>
          <div class="sub-heading white-text text-left">
            <ul>
              <li>Cheque Tracking System,</li>
              <li>Customized Service Center System,</li>
              <li>Customized Sales Automation System, linking sales people direct to back office operations and logistics,</li>
              <li>Offline Sales Application with ability to upload sales data back to HQ when an internet connection is available,</li>
              <li>Production Information websites with real-time update capabilities,</li>
              <li>Tourism and hospitality online reservation systems,</li>
              <li>Customized communication software,</li>
              <li>Private Data Center setup and maintenance,</li>
              <li>Private Email Server setup and maintenance,</li>
              <li>Network troubleshooting and maintenance,</li>
              <li>Association portal development and announcement services,</li>
              <li>Customized Point-of-Sale (POS) Systems,</li>
              <li>POS systems linked to a Distributed Stock/Invoice/Billing System,</li>
              <li>Customized Stock/Invoice/Billing System,</li>
              <li>Customized Restaurant Sales Management and Costing System,</li>
              <li>Paperless Document Saving/Retrieval System,</li>
              <li>Budget Management and Procurement System,</li>
              <li>Special Interest Portal Development and Management System,</li>
              <li>Gaming Software Engine Development,</li>
              <li>Web Service Design and Development,</li>
              <li>Mobile Apps Design and Development.</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="contact-info white-bg">
    <div class="container">

      <!-- CONTACT INFO -->
      <div class="row contact-links">

        <div class="col-sm-4">
          <div class="icon-container">
            <span class="icon-basic-mail colored-text"></span>
          </div>
          <a href="mailto:hey@prismatechnology.net" class="strong">hey@prismatechnology.net</a>
        </div>

        <div class="col-sm-4">
          <div class="icon-container">
            <span class="icon-basic-geolocalize-01 colored-text"></span>
          </div>
          <a href="#" class="strong">Lot 6A08, 6th Floor, Block A, Karamunsing Complex, 88300 Kota Kinabalu, Sabah, Malaysia</a>
        </div>

        <div class="col-sm-4">
          <div class="icon-container">
            <span class="icon-whatsapp colored-text"></span>
          </div>
          <a href="tel:+60109401884" class="strong">+60-10-9401884</a>
        </div>
      </div>

    </div>
  </div>
  <!-- =========================
  GOOGEL MAP
  ============================== -->
  <div id="container-fluid">
    <div id="cd-google-map">
      <div id="google-container">
      </div>
      <address class="color-bg">Lot 6A08, 6th Floor, Block A, Karamunsing Complex, 88300 Kota Kinabalu, Sabah, Malaysia</address>
    </div>
    <br>
    <br>
    <a href="https://www.facebook.com/prismaitcorp" target="_blank">
      Follow Us On Facebook
    </a>
